$primary: #ffdc60;
$secondary: #ec7319;
$info: #f3f3f3;
$link-color: #8e2c48;

$navbar-light-toggler-border-color: transparent;
// $navbar-padding-y: 20px;

// "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,8E2C48
//   "dark":       $dark

//   $light-text-emphasis:     $gray-700 !default;
// $dark-text-emphasis:      $gray-700 !default;
