$primary: #8e2c48;
$secondary: #ffdc60;
$info: #ec7319;
$light: #ededed;
$dark: #2d2d2d;
$body-color: #2d2d2d;

$navbar-light-toggler-border-color: transparent;
$btn-font-family: "Libre Baskerville", serif;
