@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  height: 100vh;
}

// h1=fs-1, h2=fs-2, h3,h4=fs-3, h5 = fs-5?,

h1,
h2,
h4 {
  font-family: "Lobster", sans-serif;
  color: $link-color;
}

h3 {
  font-family: "Monoton", sans-serif;
  letter-spacing: 1px;
  text-shadow:
    0.5px 0px 0 #ffffff,
    0.5px 0.5px 0 #ffffff,
    0.5px -0.5px 0 #ffffff,
    0px -0.5px 0 #ffffff,
    0px 0.5px 0 #ffffff,
    -0.5px 0.5px 0 #ffffff,
    -0.5px 0px 0 #ffffff,
    -0.5px -0.5px 0 #ffffff;
}

h5,
p,
li {
  font-family: "Libre Baskerville", serif;
}

.nav-link.sign-in,
.footer-container {
  color: $white;
  background-color: $link-color;
}

.row {
  max-width: 1100px;
}

.banner-container {
  background-color: $primary;
  #carouselExampleIndicators {
    max-width: 600px;
    max-height: 600px;
    height: 100vw;
    img {
      object-fit: cover;
      max-width: 600px;
      max-height: 600px;
      width: 100%;
      filter: sepia(60%) hue-rotate(20deg) brightness(110%);
    }
    .custom-carousel-caption {
      top: 15%;
      bottom: auto;
    }
  }
}

.welcome-container {
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.footer-container {
  .row {
    max-width: 100%;
    height: auto;
    p {
      font-size: 0.8em;
    }
  }
}
